{% extends 'base.html.twig' %}

{% block title %}New Reacties{% endblock %}

{% block body %}
    <h1>Create new Reacties</h1>

    {{ include('reacties/_form.html.twig') }}

    <a href="{{ path('reacties_index') }}">back to list</a>
{% endblock %}
